import { createApp } from 'vue'
import { createPinia } from 'pinia'
import App from './App.vue'
import router from './router'
import './style.css'
{% if ui_library == "primevue" %}
import PrimeVue from 'primevue/config'
import 'primeicons/primeicons.css'
{% endif %}

const app = createApp(App)

app.use(createPinia())
app.use(router)
{% if ui_library == "primevue" %}
app.use(PrimeVue)
{% endif %}

app.mount('#app')

